.active-selection {
	background: -moz-linear-gradient(
		45deg,
		#0a611d 0%,
		#031b0c 29%,
		#046d51 66%,
		#062a13 100%
	);
	background: -webkit-linear-gradient(
		45deg,
		#0a611d 0%,
		#031b0c 29%,
		#046d51 66%,
		#062a13 100%
	);
	background: linear-gradient(
		45deg,
		#0a611d 0%,
		#031b0c 29%,
		#046d51 66%,
		#062a13 100%
	);
	background-size: 200% 200%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

/*------------------Background------------------*/

.navbar {
	display: flex;
	flex-direction: column;
	padding: 1em;
	z-index: 1;
}

.logo {
	display: flex;
}

.logoborder {
	border-radius: 50%;
	border: 1em solid #046d51;
	background: #046d51;
}

.main-container {
	display: flex;
	flex-direction: column;
	gap: 2em;
	padding: 0;
	width: 100%;
	padding-top: 8em;
}

.inactive {
	font-size: 1em;
	transition-duration: 0.5s;
	border: 0;
	background: none;
	padding: 1em;
	color: black;
	font-weight: 600;
}

.active {
	background: none;
	border: 0;
	text-decoration: none;
	font-weight: bolder;
}

.inactive-selection {
	border-radius: 1em 1em 1em 1em;
	border: none white;
}

.active-selection {
	border-radius: 1em 1em 1em 1em;
	border: 0.3em solid#ffffff;
	color: #ffffff;
	font-size: 20px;
	padding: 0.4em;
	margin-right: -3em;
}

@media (max-width: 1400px) {
}

@media (max-width: 800px) {
}
